#signinbody {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: white;
    background-image: url("img.jpg");
    background-size: cover;
    background-position: center;
}


.wrapperform {
    width: 420px;
    background-color: transparent;
    border: 0.1px solid;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 3px;
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
    
    
}

.wrapperform h1{
    font-size: 36px;
    text-align: center;
    
}

.wrapperform .input-box {
  width: 100%;
  height: 50px;
  margin: 30px 0;
  
}

.input-box input {
  width: 84%;
  height: 30%;
  background-color: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: white;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
  color: white;
}

.input-control input:focus {
  outline: 0;
}

.input-control.sucess input {
  border: 2px solid limegreen;
}

.input-control.error input {
  border: 2px solid red;
}

.input-control .error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
  

.wrapperform .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
  
}

.remember-forgot label input {
  accent-color: white;
  margin-right: 3px;
}

.remember-forgot a {
  color: white;
  text-decoration: underline;
}

.wrapperform .btn {
  width: 100%;
  height: 45px;
  background-color: azure;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size:  16px;
  color: gray;
  font-weight: 600;
}

.wrapperform .register-link{
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15ox;
}

.register-link p a{
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover{
  text-decoration: underline;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-image: url("img.jpg");
    color: #ffffff;
}


.navbar {
    background-color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-right: 15px;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
   font-size: 35px; 
   font-weight: 600; 
   color: white;
   margin: 20px;

}


li{
    list-style: none;
    display: inline-block;
}

li a{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-right: 25px;
}

.button1{
    
    background-color: rgb(31, 30, 30);
    margin-left: 10px;
    border-radius: 10px;
    font-weight: bold;
    margin-right: 5px;
    width: 100px;
    font-size: 19px;
}

.button2{
    background-color: rgb(31, 30, 30);
    margin-left: 10px;
    border-radius: 10px;
    font-weight: bold;
    margin-right: 5px;
    width: 100px;
    font-size: 19px;
}


    

.navbar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

.home-img{
    width: 20px;
}


  
thead{
    background-color: rgb(159, 159, 223);
}


  

  
.navbar a:hover,
.navbar a.active {
    background-color: rgb(75, 141, 146);
    text-decoration: underline;
}
  
  .home {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
  }
  
  .home-content {
    max-width: 600px;
  }
  
  img {
    width: 20px;
    border-radius: 10px;
  }
  
  .content {
    padding: 2rem;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    background-color: rgb(182, 149, 212);
  }
  
  table, th, td {
    border: 1px solid #aaa;
  }
  
  th, td {
    padding: 0.75rem;
    text-align: left;
  }
  
  caption {
    caption-side: top;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
  }
  
.footer a {
  color: white;
}

@media only screen and (max-width: 900px) {

  .navdiv {
    flex-direction: column;
    align-items: center;
    background-color: rgb(115, 37, 129);
  }
  .navdiv ul {
    flex-direction: row-reverse;
    text-align: center;
  }

  .footer{
    background-color: rgb(115, 37, 129);
  }
  
}
