body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.schedule {
    border: 1px solid black;
    border: 1px solid black;
    caption-side: top;
    border-spacing: 1;
    border-collapse: collapse;
}

.schedule th, .schedule td {
    padding:  12px;
    vertical-align: middle;
}


.schedule thead tr {
    justify-content: space-between;
    background-color: rgb(183, 183, 242);
    font-family:'Times New Roman', Times, serif;
}

.schedule .sports td{
    display: flex;
    flex-flow: column;
    
}
.schedule .male td{
    display: flex;
    text-align: center;
    
}
.schedule .female td{
    display: flex;
    
}